/* 
    Don't change this file (your changes will be lost when upgrading the plugin).
    Add styles to your custom Wordpress stylesheet or something.
*/
.widget_gr_progress_cvdm_widget .goodreads-attribution {
    font-style: italic;
}
.widget_gr_progress_cvdm_widget .bookshelf {
    list-style-type: none;
    margin: 0;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 25rem;
}
.widget_gr_progress_cvdm_widget .bookshelf .book {
    display: table-row;
    border: none;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .coverImage
{
    display: table-cell;
    vertical-align: top;
    width: 40%;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.widget_gr_progress_cvdm_widget .bookshelf.small-cover .book .coverImage {
    width: 20%;
    padding-bottom: 0.8rem;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .coverImage img {
    border: 1px #ccc solid;
    box-shadow: 3px 3px 5px 1px #ccc;
    margin-bottom: 3px;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc {
    display: table-cell;
    vertical-align: top;
    width: 60%;
    padding-bottom: 1rem;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc p {
    line-height: 1.5;
}
.widget_gr_progress_cvdm_widget .bookshelf.small-cover .coverImage
{
    padding-right: 0.8rem;
}
.widget_gr_progress_cvdm_widget .bookshelf.small-cover .desc {
    width: 80% !important;
    padding-bottom: 0.8rem;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc p:last-child {
    margin-bottom: 0 !important;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .bookTitle {
    font-size: inherit;
    font-weight: bold;
    margin: 0;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .author {
    margin: 0; /* no margin between book title and author */
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .progress,
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .bookComment
{
    margin: 0;
    margin-top: 1rem;
}
.widget_gr_progress_cvdm_widget .bookshelf.small-cover .book .desc .bookComment
{
    margin-top: 0.5rem;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .bookComment
{
    font-style: italic;
}

.widget_gr_progress_cvdm_widget .bookshelf .book .desc .bookRating .gr-progress-rating-star {
    font-size: 120%;
    margin-right: 0.1em;
}

.widget_gr_progress_cvdm_widget .bookshelf .book .desc .bookRating .gr-progress-rating-star-filled {
    color: #337ab7;
}

.widget_gr_progress_cvdm_widget .bookshelf .book .desc .bookRating .gr-progress-rating-star-empty {
    color: #999;
}

/* Progress bar */
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .progress-bar-wrapper {
    position: relative;
    width: 100%;
    font-size: 80%;
    overflow: hidden;
    background-color: #f5f5f5;
    color: #000;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .progress-bar {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    color: #fff;
    background-color: #337ab7;
}
.widget_gr_progress_cvdm_widget .bookshelf .book .desc .progress-bar-wrapper span {
    padding: 0.5rem;
    white-space: nowrap;
    text-overflow: clip;
}
/* clearfix */
.widget_gr_progress_cvdm_widget .bookshelf .book:before,
.widget_gr_progress_cvdm_widget .bookshelf .book:after {
    content: "";
    display: table !important;
}
.widget_gr_progress_cvdm_widget .bookshelf .book:after {
    clear: both;
}
.widget_gr_progress_cvdm_widget .bookshelf .book {
    zoom: 1;
}